<div x-data="{ addFormOpen: false }">
    <div class="-mt-14 flex items-center py-3 justify-end px-4">
        <button x-on:click="addFormOpen = !addFormOpen" class="inline-flex justify-center py-1 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 button_custom_setting">
            <span x-show="! addFormOpen">+ Toevoegen</span>
            <span x-show="addFormOpen">Toevoegen sluiten</span>
        </button>
    </div>

    <div id="manager-{{ __SELF__.property('relationName') }}-add-form" class="px-3">
        {% partial __SELF__ ~ '::add-form' %}
    </div>

    {% partial __SELF__ ~ '::table' %}
</div>
